.contacts {
    min-height: 50vh;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
    padding: 50px 0;
    .contactsContainer {
        flex-direction: column;
        justify-content: flex-start;
    }
    .data {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        color: white;
        font-size: 18px;
        & a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
        .icon {
            margin-top: 20px;
            margin-right: 60px;
            width: 40px;
            height: 40px;
            vertical-align: -15px;
            filter: drop-shadow(0 0 3px azure);
        }
    }
}








