.contacts {
    height: 70vh;
    background-color: thistle;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: gold;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tel {
    width: 250px;
}

.email {
    width: 250px;
    margin-top: 10px;
}

.textarea {
    width: 250px;
    height: 90px;
    margin-top: 10px;
}