.skill {
  width: 170px;
  min-height: 250px;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;

  & h3 {
    margin-top: 50px;
    color: white;
    font-family: "Bebas Neue";
    font-size: 25px;
    font-weight: 300;
  }

  .icon {
    height: 60px;
    width: 60px;
    margin-top: 20px;

    .image {
      width: 60px;
      height: 60px;
      filter: drop-shadow(0 0 15px white);
    }
  }

  .description {
    margin-top: 10px;
    color: white;
    font-family: "Bookman Old Style";
    font-size: 18px;
  }
}