.project {
    width: 300px;
    background-color: gold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    height: 300px;
    width: 300px;
    background-color: crimson;
}

.button {
    margin-top: 150px;
}