.project {
    width: 290px;
    background-color: gold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}

.icon {
    height: 290px;
    width: 290px;
    background-color: crimson;
}

.button {
    margin-top: 145px;
}