.footerBlock {
    height: 200px;
    background-color: black;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.socialContainer {
    width: 295px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: crimson;
}

.image {
    width: 30px;
    height: 30px;
}

.rights {
    color: white;
}