.footerBlock {
    height: 200px;
    background-color: darksalmon;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    margin-left: 10px;
    text-align: center;
}

.socialContainer {
    width: 280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: crimson;
}

.image {
    width: 40px;
    height: 40px;
}

.rights {
    margin-top: 40px;
}