.projectsBlock {
    min-height: 100vh;
    background-color: blanchedalmond;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: gold;
    flex-wrap: wrap;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}